<div class="patient-container">
  <h2>Patients List</h2>

  <!-- SEARCH -->
  <mat-form-field appearance="outline" class="search-field">
    <input
      matInput
      placeholder="Search by name..."
      [(ngModel)]="searchTerm"
      (ngModelChange)="filterPatients()"
    />
  </mat-form-field>

  <!-- LISTA PE ROW -->
  <div class="patient-list">

    <mat-card *ngFor="let patient of filteredPatients" class="patient-card">
      <mat-card-title>
        {{ patient.firstName }} {{ patient.lastName }}
      </mat-card-title>

      <mat-card-content>
        Age: {{ patient.age }} <br />
        Gender: {{ patient.gender }} <br />
        Height: {{ patient.height }} <br />
         Weight: {{ patient.weight }} <br />
        Diagnosis: {{ patient.diagnosis }} <br />
        Note: {{ patient.note }}
      </mat-card-content>
