<div class="doctor-container">
  <h2>Add New Patient</h2>

  <form (ngSubmit)="addPatient()">

    <mat-form-field appearance="outline">
      <mat-label>First Name</mat-label>
      <input matInput [(ngModel)]="newPatient.firstName" name="firstName" required>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Last Name</mat-label>
      <input matInput [(ngModel)]="newPatient.lastName" name="lastName" required>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Age</mat-label>
      <input matInput type="number" [(ngModel)]="newPatient.age" name="age">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Gender</mat-label>
      <mat-select [(ngModel)]="newPatient.gender" name="gender">
        <mat-option value="Male">Male</mat-option>
        <mat-option value="Female">Female</mat-option>
        <mat-option value="Other">Other</mat-option>
      </mat-select>
    </mat-form-field>

        <mat-form-field appearance="outline">
      <mat-label>Height</mat-label>
      <input matInput type="number" [(ngModel)]="newPatient.height" name="height">
    </mat-form-field>

       <mat-form-field appearance="outline">
      <mat-label>Weight</mat-label>
      <input matInput type="number" [(ngModel)]="newPatient.weight" name="weight">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Diagnosis</mat-label>
      <input matInput [(ngModel)]="newPatient.diagnosis" name="diagnosis">
    </mat-form-field>

     <mat-form-field appearance="outline">
      <mat-label>Note</mat-label>
      <input matInput [(ngModel)]="newPatient.note" name="note">
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Add Patient</button>

  </form>

  <p class="message" *ngIf="message">{{ message }}</p>
</div>
